.navbar-nav {
  font-size: 1.8rem;
  padding: 0.3rem 0;
}

.navbar-nav--brand {
  font-size: 2rem;
}

.greenary-nav {
  display: flex !important;
}

.greenary-logo {
  /* width: 10%; */
}

.greenary-dropdown-menu {
  width: 100%;
  display: flex !important;
  justify-content: center;
  /* width: 30% !important; */
}

.dropdown-menu-container {
  flex-grow: 0 !important;
  flex-basis: 20% !important;
}

.dropdown {
  width: 100% !important;
  text-align: center;
}

.dropdown-item-container {
  width: 100% !important;
}

.dropdown-menu-dark {
  width: 100% !important;
}
